<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1082426894258-hqgprpi62b4napnvv2mn11j2l9an6o7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082426894258-hqgprpi62b4napnvv2mn11j2l9an6o7f</string>
	<key>API_KEY</key>
	<string>AIzaSyBqCAer-Q6W7eqyYK8W6DisDuoW7XfXeEw</string>
	<key>GCM_SENDER_ID</key>
	<string>1082426894258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunaltyagi.WannaGo</string>
	<key>PROJECT_ID</key>
	<string>wannago-d0025</string>
	<key>STORAGE_BUCKET</key>
	<string>wannago-d0025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082426894258:ios:ceeefb95845355b9</string>
	<key>DATABASE_URL</key>
	<string>https://wannago-d0025.firebaseio.com</string>
</dict>
</plist>